/* {
    outline: 1px solid red !important;
} */

@font-face {
    font-family: font-main;
    src: url(./font/Norse-Bold.otf);
}

p, h2, label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

label {
    font-size: 0.8rem;
    padding-bottom: 4px;
}

label:invalid {
    color: red;
}

input:invalid {
    border-color: red;
}

input:active, input:focus {
    outline-color:#596D48;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(173, 173, 173);
    border-style: solid;
    border-width: 1px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

h1 {
    font-family: font-main, sans-serif;
    color: white;
    font-size: 6rem;
    padding-top: 18px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
    max-width: 33ch;
}

aside {
    background-image: url(./img/sidebar.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

#hero-label {
    background-color: hsla(0, 0%, 0%, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20vh;
    justify-content: center;
}

footer {
    text-align: center;
}

footer>p {
    color: white;
    font-weight: lighter;
}

main {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-input {
    background-color: white;
    border: none;
    padding: 20px 50px;
    filter: drop-shadow(0px 2px 8px #00000020);
}

#input-fields {
    display: flex;
    flex-wrap: wrap;
}

#form-submit {
    border: none;
    padding: 20px 50px;
}

.form-field-group {
    flex: 50%;
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0px;
    margin-inline:0px;
}

#section-hero {
    padding: 20px 50px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 10px #00000030);
    font-weight: 600;
    font-size: 1rem;
}

button:hover {
    background-color: #3f4d34;
}

a {
    text-decoration: none;
    color:#596D48;
    font-weight: 600;
}